<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/underscore/underscore.js"></script>
<script src="/backbone/backbone.js"></script>
<script src="/blob/Blob.js"></script>
<script src="/FileSaver/FileSaver.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>