<!--<button onClick="changeData()">Change Data</button>-->
<div id="visDiv">
<script>
    graphIt = function(){
        var gradPie={};
        var pie = d3.layout.pie().sort(null).value(function(d) {return d.value;});
        var arc = d3.svg.arc();
        var path;

        createGradients = function(defs, colors, r){
            var gradient = defs.selectAll('.gradient')
                    .data(colors).enter().append("radialGradient")
                    .attr("id", function(d,i){return "gradient" + i;})
                    .attr("gradientUnits", "userSpaceOnUse")
                    .attr("cx", "0").attr("cy", "0").attr("r", r).attr("spreadMethod", "pad");

            gradient.append("stop").attr("offset", "0%").attr("stop-color", function(d){ return d;});

            gradient.append("stop").attr("offset", "30%")
                    .attr("stop-color",function(d){ return d;})
                    .attr("stop-opacity", 1);

            gradient.append("stop").attr("offset", "70%")
                    .attr("stop-color",function(d){ return "black";})
                    .attr("stop-opacity", 1);
        };

        gradPie.draw = function(id, data, cx, cy, r){
            var gPie = d3.select("#"+id).append("g").attr("transform", "translate(" + cx + "," + cy + ")");

            arc.outerRadius(r);

            createGradients(gPie.append("defs"), data.map(function(d){ return d.color; }), 2.5*r);

            path = gPie.selectAll("path").data(pie(data))
                    .enter().append("path").attr("fill", function(d,i){ return "url(#gradient"+ i+")";})
                    .attr("d", arc).each(function(d) { this._current = d; });
        };

        gradPie.transition = function (data) {
            path.data(pie(data)).transition().duration(750).attrTween("d", arcTween);
        };

        function arcTween(a) {
            var i = d3.interpolate(this._current, a);
            this._current = i(0);
            return function(t) { return arc(i(t));  };
        }

        this.gradPie = gradPie;
    }();
    var salesData=[
        {label:"A", value:1, color:"#3366CC"},
        {label:"B", value:1, color:"#DC3912"},
        {label:"C", value:1, color:"#FF9900"},
        {label:"D", value:1, color:"#109618"},
        {label:"F", value:1, color:"#990099"}
    ];

    d3.select("body").append("svg").attr("width", window.screen.width).attr("height", 600)
            .append("g").attr("id","gradePie");

    gradPie.draw("gradePie", salesData, window.screen.width/2, 260, 160);

    function changeData(){
        gradPie.transition(salesData.map(function(d){ d.value=1000*Math.random(); return d;}));
    }
    function ourChangeData(){

        gradPie.transition(salesData.map(function(d){
            if (d.label == "A") {
                var str = document.getElementById("documentAmount").innerHTML;
                console.log(d.value);
                d.value = 1000*Math.random();//parseInt(str.charAt(str.length - 1));
                console.log(d.value);
                return d;
            }
        }));
    }
</script>
</div>