<div class="jumbotron">
    <h1>{{ title }} <small>By LightSide Labs</small></h1>
</div>

<div type="text/html">
    <h4>Enter your grade and essay into the appropriate text boxes</h4>
</div>

<div class="row">

    <div>
        <h3>CSV</h3>
    </div>

    <form role="form">
        <label > Title:</label>
        <input class="form-control" id="fileTitle" placeholder="Enter Title of CSV File">
        <br />
        <label >Grade</label>
        <input class="grade form-control" id="grade" placeholder="Enter Grade">
        <label>Text</label>
        <input class="text form-control" id="text" placeholder="Enter Text">
        <br>
        <input type="button" class="btn btn-default" id="reset" value="Reset">
        <input type="button" class="btn btn-default" id="add" value="Add">
        <input type="button" class="btn btn-default" id="submit" value="Download CSV">
    </form>
</div>
    <br>
    <label style="float: left">Documents Added: </label>
    <p id="documentAmount" style="float:left;margin-left: 5px">0<p>

<script type="text/javascript">
    var myCSV = "grade,text\n";
    var documentsAdded = 0;
    function exportToCSV() {
        if (($("#grade").val() != "") || ($("#text").val() != "")) {
            addEssay();
        }
        var r=confirm("Do you want to download the CSV?");
        if (r==true)
        {
            download($("#fileTitle").val()+".csv", myCSV);
        }
    }

    function download(filename, text) {
        var CSVfile = document.createElement('a');
        CSVfile.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
        CSVfile.setAttribute('download', filename);
        CSVfile.click();
    }

    function addEssay() {
        if($("#grade").val() == ""){
            window.alert("Please enter a grade for the paper");
        }
        else if($("#text").val() == ""){
            window.alert("Please enter the text of the paper");
        }
        else{
            myCSV += $("#grade").val() + ",\"" + $("#text").val() + "\"\n";
            documentsAdded++;
            $("#grade").val("");
            $("#text").val("");
            document.getElementById("documentAmount").innerHTML = documentsAdded;
        }
    }

    function reset(){
        myCSV = "grade,text\n";
        documentsAdded = 0;
        document.getElementById("documentAmount").innerHTML = documentsAdded;
        $("#grade").val("");
        $("#text").val("");
        $("#fileTitle").val("");
    }

    $(document).ready(function(){
        $("#submit").click(function(){
            exportToCSV();
        });

        $("#add").click(function(){
            addEssay();
        });

        $("#reset").click(function(){
            reset();
        })
    });
</script>
