<!DOCTYPE html>
<html>
<head>
    {{> head}}
</head>
<body>
<div class="jumbotron">
    <h1>{{ title }} <small>By LightSide Labs</small></h1>
</div>

<div id="text" type="text/html">
    <h4>Submit your grade and Essay into the text area</h4>
</div>

<div class="row">
    <div class="col-md-8">
        <h3>CSV</h3>
    </div>

    <div class="container">
        {{{yield}}}
    </div>

    {{> scripts}}

    <button class="addEssay btn btn-success btn-sm">Add Essay</button>
</div>
</body>
</html>