<div class="jumbotron">
    <h1>{{ title }} <small>By LightSide Labs</small></h1>
</div>

<div type="text/html">
    <h4>If you refresh the page, all entered text will be deleted.</h4>
    <ul>
        <li>To use the Create Your CSV page, you need to input text into each of the boxes.
        Your CSV requires a title that will appear in the CSV.  You must also include a grade in the
        "Grade" text box as well as text in the "Text" box.  Otherwise, you will not be able to add the grade
        and text into the file.</li>
        <li>The "Reset" button allows you to completely erase any text you have entered or added.</li>
        <li>The "Add" button allows you to add the document into your CSV file.  When you press the button,
        the "Documents Added:" will count the amount of documents that have been added into the CSV file.</li>
        <li>The "Download CSV" button downloads the CSV file where you can open (via clicking the file) and
        looking the documents inside of the CSV.  And if you wish to add more files, you may do so and
        it will still have your documents that you have initially added.</li>
    </ul>
</div>
<div id="fieldNames">
    <form role="form">
        <div class="btn-group" id="addFieldsSelector">
            <label>Choose number of fields to enter for each document</label>
            <br />
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Number of Fields <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a onclick="addFields(1)">1 Field</a></li>
                <li><a onclick="addFields(2)">2 Fields</a></li>
                <li><a onclick="addFields(3)">3 Fields</a></li>
                <li><a onclick="addFields(4)">4 Fields</a></li>
                <li><a onclick="addFields(5)">5 Fields</a></li>
            </ul>
            <br />
            <br />
        </div>
    </form>
    <div id="moreFields"></div>
    <button class="btn btn-default glyphicon glyphicon-saved" id="saveFields">Save</button>
</div>
<div id="workZone" class="row">
    <form role="form">
        <label> Title</label>
        <input class="form-control" id="fileTitle" placeholder="Enter Title of CSV File">
        <br />
        <div id="fieldScores"></div>

        <label>Text</label>
        <textarea class="text form-control" id="text" placeholder="Enter Text" rows="10"></textarea>
        <br />
        <button type="button" class="btn btn-danger" id="reset">
            <span class="glyphicon glyphicon-share-alt"></span> Reset
        </button>
        <button type="button" class="btn btn-default" id="add">
            <span class="glyphicon glyphicon-plus"></span> Add
        </button>
        <button type="button" class = "btn btn-default" id="replace">
            <span class="glyphicon glyphicon-edit"></span> Replace
        </button>
        <button type="button" class="btn btn-default" id="submit">
            <span class="glyphicon glyphicon-download"></span> Download CSV
        </button>
        <button type="button" class="btn btn-default" id="cancel">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
    </form>
    <p style="display:inline;"><strong>Documents Added:</strong></p>
    <p style="display:inline;" id="documentAmount">0</p>
    <br />
    <div id="pastDocs"></div>
</div>

<div id="visualization"></div>
<div id="description"></div>

{{> visualization}}
{{> functions}}