body {
  padding: 50px;
  background-color: lightgoldenrodyellow;
}

a {
  color: #00B7FF;
}
.docBox {
    font-family:"Sans-serif", Arial, sans-serif;
    font-size:1.5em;
    color:black;
    text-align:center;
    display: none;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: gray;
    width:30px ;
    height:30px;
    line-height:30px;
    background-color: lightblue;
}